<h1 style="color: orange;text-align: center;">FOR MORE DETAILS</h1>
<div style="padding-left: 650px;" class="col-12">
  <button style="border-radius: 25px;" type="submit" class="btn btn-primary"  routerLink="signin">Sign in more details</button>
</div>


<h1 style="color: orange;text-align: center;">connect us with</h1>
<div style="padding-left: 500px;" class="row">
    <img src="https://img.icons8.com/?size=100&id=118640&format=png&color=000000" class="rounded float-start" style="width: 100px;" alt="...">
  <img src="https://img.icons8.com/?size=48&id=118497&format=png" class="rounded float-start" style="width: 100px;" alt="...">
  <img src="https://img.icons8.com/?size=100&id=32323&format=png&color=000000" class="rounded float-start" style="width: 100px;" alt="...">
  <img src="https://img.icons8.com/?size=100&id=19318&format=png&color=000000" class="rounded float-start" style="width: 100px;" alt="...">
  <img src="https://img.icons8.com/?size=48&id=cMRBi0rI3iwb&format=png" class="rounded float-start" style="width: 100px;" alt="...">

