<div  id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://m.media-amazon.com/images/M/MV5BMjU3MjE4OTgtY2Q1Yi00MzllLTk3OWItNDFhODdjZTIyNzZhXkEyXkFqcGdeQXVyMTM1OTU1MzQx._V1_QL75_UX717_.jpg" class="d-block w-100" height="500" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://m.media-amazon.com/images/M/MV5BMjQzNDQ0NTAyMF5BMl5BanBnXkFtZTgwMDk2MDc5OTE@._V1_QL75_UX1230_.jpg" class="d-block w-100 " height="500" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://m.media-amazon.com/images/M/MV5BZTNlNWZiMmQtYmViOS00MDM1LThjYTktNzA0NDFmMzk4MjhiXkEyXkFqcGc@._V1_QL75_UX1230_.jpg" class="d-block w-100" height="500" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://m.media-amazon.com/images/M/MV5BYjYwNmY1OTctYzBjMC00ZGQ1LWI2MzQtOTlhZmJiNjNmZTUzXkEyXkFqcGc@._V1_QL75_UX636_.jpg" class="d-block w-100" height="500" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://m.media-amazon.com/images/M/MV5BMzE1ZWM5YmEtYmFiZS00OGQ5LWE2ZDgtNmM3NDUwN2I0NjZhXkEyXkFqcGdeQXVyNDEwMzQwNDg@._V1_QL75_UX1230_.jpg" class="d-block w-100" height="500" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://m.media-amazon.com/images/M/MV5BMTRjMTBkOTgtNTE1MS00NTAzLTgyNmQtM2Q4ZjM4NDIwM2UzXkEyXkFqcGdeQXVyMTU0NTM2MDg5._V1_QL75_UX1230_.jpg" class="d-block w-100" height="500" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://img.onmanorama.com/content/dam/mm/en/entertainment/entertainment-news/images/2021/1/11/the-great-indian-kitchen-movie.jpg" class="d-block w-100" height="500" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://m.media-amazon.com/images/M/MV5BYTczYjYwMjktMGQ2My00NGRiLTlhY2EtMzE0ZTI0OTIxYjJlXkEyXkFqcGc@._V1_QL75_UX1230_.jpg" class="d-block w-100" height="500" alt="...">
      </div>
    </div>
  </div>
