<nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding: top 500px;">
  
  
  
  <div style="background-color: black;" class="container-fluid">
        <img style="padding-left:50;" src="https://download.logo.wine/logo/IMDb/IMDb-Logo.wine.png" alt="" width="150">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div style="background-color: rgb(242, 242, 243);" class="collapse navbar-collapse" id="navbarSupportedContent">
       
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        

        <li class="nav-item dropdown">
            <a style="padding-left: 100;" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              MENU
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="movielist">MOVIES</a></li>
              <li><a class="dropdown-item" routerLink="series">SERIES</a></li>
              <li><hr class="dropdown-divider"></li>
        
            </ul>
          </li>
  

        <form  style="padding-left: 100px;" class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>


          <li class="nav-item">
            <a  class="nav-link active" aria-current="page" routerLink="">home</a>
          </li>
          

            
          <li class="nav-item">
            <a  class="nav-link active" aria-current="page" routerLink="watchlist">watchlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="signin">sign in</a>
          </li>
          </ul>
       
      </div>
    </div>
  </nav>
