<app-carousals></app-carousals>
<h1></h1>
<h1></h1>
<H1 style="color: orange; background-color: black;">Featured today </H1>

<div class="row row-cols-1 row-cols-md-3 g-6">
    <div class="col">
      <div class="card h-100">
        <img src="https://m.media-amazon.com/images/M/MV5BYTM3NzRjNTMtMjk4NS00MzQyLTgxM2ItNTE1MmM5ZGEyMzVlXkEyXkFqcGdeQXVyMTMzODk3NDU0._V1_QL75_UX1230_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">GUARDIANS OF THE GALAXY</h3>
          <p><a style="padding-left: 170PX;" class="link-opacity-100" href="https://www.imdb.com/title/tt6791350/">JUST A LOOK</a></p>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://m.media-amazon.com/images/M/MV5BNWNkNGQ1MTItODJlMi00ZGY1LTg1ZmYtNGYwN2IzMjFkMjNkXkEyXkFqcGdeQXVyMTIyOTI4Nzgw._V1_QL75_UX1230_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">MADAGASCAR:A LITTLE WILD</h3>
          <p><a style="padding-left: 170PX;" class="link-opacity-100" href="https://www.imdb.com/title/tt11714912/">JUST A LOOK</a></p>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://m.media-amazon.com/images/M/MV5BYTM1NDcyYjgtMzk5ZC00YmRiLTk4MTEtY2IxNDdkMTg0YTk1XkEyXkFqcGc@._V1_QL75_UX1230_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">LAAPATAA LADIES</h3>
          <p><a style="padding-left: 170PX;" class="link-opacity-100" href="https://www.imdb.com/title/tt21626284/">JUST A LOOK</a></p>

        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="https://m.media-amazon.com/images/M/MV5BMTIxNzMwOTU3OF5BMl5BanBnXkFtZTcwMzk0NTM2MQ@@._V1_QL75_UX226.5_.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">WHAT HAPPENS IN VEGAS</h3>
            <p><a style="padding-left: 170PX;" class="link-opacity-100" href="https://www.imdb.com/title/tt1033643/">JUST A LOOK</a></p>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://m.media-amazon.com/images/M/MV5BMTYyMTcxNzc5M15BMl5BanBnXkFtZTgwOTg2ODE2MTI@._V1_QL75_UX235.5_.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 style="padding-left: 80px;" class="card-title">PIRATES OF CARIBBEAN</h3>
            <p><a style="padding-left: 170PX;" class="link-opacity-100" href="https://www.imdb.com/title/tt1790809/">JUST A LOOK</a></p>

          </div>
        </div>
      </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://m.media-amazon.com/images/M/MV5BYzUwM2M0NGYtMDVkZS00OWIyLWIzYmYtZGU1MmU4MWM0ZjU2XkEyXkFqcGdeQXVyODE0NjUxNzY@._V1_QL75_UX1230_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">THONDIMUTHALUM DRIKSAKSHIYUM</h3>
          <p><a style="padding-left: 170PX;" class="link-opacity-100" href="https://www.imdb.com/title/tt5906392/">JUST A LOOK</a></p>

        </div>
      </div>
    </div>
  </div>

  <h1>
  </h1>
  <h1>

  </h1>
<p>
  <p style="color: white;">--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>