
<p></p>
<div style="color: white;text-align: center;">

<h1>Benefits of your free IMDb account</h1>
<h4>Personalized Recommendations</h4>
<h6>Discover shows you'll love.</h6>
<h1></h1>
<p>



</p>
<h4>Your Watchlist</h4>
<h6>Track everything you want to watch and receive e-mail when movies open in theaters.</h6>
<p>




</p>
<h4>Your Ratings</h4>
<h6>Rate and remember everything you've seen</h6>
<p>








</p>
<h4>Contribute to IMDb</h4>
<h6>Add data that will be seen by millions of people and get cool badges.</h6>
</div>
<P></P>
<div style="padding-left: 643px;">
<button type="button" class="btn btn-warning">SIGN IN WITH IMDb</button>
</div>
<P></P>
<div style="padding-left: 630px;">
    <button type="button" class="btn btn-warning">SIGN IN WITH AMAZON</button>
    </div>
    <P></P>
    <div style="padding-left: 635px;">
        <button type="button" class="btn btn-warning">SIGN IN WITH GOOGLE</button>
        </div>
        <P></P>
        <div style="padding-left: 643px;">
            <button type="button" class="btn btn-warning">SIGN IN WITH APPLE</button>
            </div>
            <P></P>


<H1 style="text-align: center;color: orange;" >SUGGESSTIONS</H1>
<div class="row">
<div class="col">
    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
  </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col">
  <div class="col-md">
  <div class="form-floating">
    <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
    <label for="floatingInputGrid">Email address</label>
  </div>
<p></p>
  <div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea2">Comments</label>
  </div>

  <p></p>
  <div style="padding-left: 700px; border-radius: 25%;">
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
</div>
</div>
